* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #43ada7;
}

nav img {
  width: 3rem;
}

.nav-link {
  text-decoration: none;
}

body {
  height: 100vh;
  font-weight: 600px;
  text-align: center;
  padding-top: 6rem;
}

h1 {
  font-size: 2rem;
}

.item-count {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
}

.cart {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-text {
  margin-bottom: 0.5rem;
}

.cart-button {
  margin: 0.5rem;
}

.img-name {
  width: 18rem;
}

.cart-item {
  margin: 1rem;
}

.container-form {
  width: 50%;
}
