* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #43ada7;
}

nav img {
  width: 3rem;
}

body {
  height: 100vh;
  font-weight: 400;
  text-align: center;
  padding-top: 5rem;
}
